<%- include('../components/headAdmin') %>
    <%- include('../components/dashboardMenu') %>
    <section class="dashboard">
        <section class="db-list-header">
            <h1>Product List</h1>
            <div class="cpb">
                <button id="create-product-btn" class="primary bold">Create Product</button>
            </div>
        </section>
        <div class="table-small-screen">
            <p>Screen width is too small. Please flip your mobile device over to view table.<p>
        </div>
        <div class="product-list list">
            <table>
                <thead> 
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th class="tr-action">PRICE</th>
                        <th>GENDER</th>
                        <th>CATEGORY</th>
                        <th>TYPE</th>
                        <th class="tr-action">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td><%= product._id %></td>
                            <td><%= product.name %></td>
                            <td><%= product.price %></td>
                            <td><%= product.gender %></td>
                            <td><%= product.category %></td>
                            <td><%= product.type %></td>
                            <td>
                                <a href="/product/edit/<%= product._id %>" class="edit-btn">Edit</a>
                                <button id="<%= product._id %>" class="delete-btn">Delete</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <section id="container-overlay" class="container-overlay">
            <section id="new-product-container" class="dashboard-form form-animate">
                <form id="new-product-form" class="form">
                    <button type="button" class="dashboard-form-close-btn">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </button>
                    <h2>New Product</h2>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="">
                    <label for="description">Description</label>
                    <textarea form="edit-product-form" type="text" name="description" id="description" cols="30" rows="10" value=""></textarea>
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" id="gender" value="">
                    <label for="category">Category</label>
                    <input type="text" name="category" id="category" value=""> 
                    <label for="type">Type</label>
                    <input type="text" name="type" id="type" value="">  
                    <label for="image_main">Image Main (1200 x 600)</label>
                    <input type="text" name="image_main" id="image_main" value="">
                    <input type="file" name="image_file_main" id="image_file_main">
                    <label for="image_1">Image 1</label>
                    <input type="text" name="image_1" id="image_1" value="">
                    <input type="file" name="image_file_1" id="image_file_1">
                    <label for="image_2">Image 2</label>
                    <input type="text" name="image_2" id="image_2" value="">
                    <input type="file" name="image_file_2" id="image_file_2">
                    <label for="image_3">Image 3</label>
                    <input type="text" name="image_3" id="image_3" value="">
                    <input type="file" name="image_file_3" id="image_file_3">
                    <label for="image_4">Image 4</label>
                    <input type="text" name="image_4" id="image_4" value="">
                    <input type="file" name="image_file_4" id="image_file_4">
                    <label for="price">Price</label>
                    <input type="number" name="price" id="price" value=""> 
                    <label for="countInStock">Count In Stock</label>
                    <input type="text" name="countInStock" id="countInStock" value="">
                    <button type="submit" class="primary bold" id="pes-btn">CREATE</button>
                </form>   
            </section>
        </section>
    </section>

<%- include('../components/footer') %>